Question 1

In [8]:
import pandas as pd
import json
import sys
data = pd.read_csv("district_level_service_msme.csv")
print(data)

ModuleNotFoundError: No module named 'pandas'

Question 2

In [16]:
file_directory = "district_level_manufacturing_msme.json"
f = open(file_directory)
loaded_data = json.load(f)
columns = pd.DataFrame(loaded_data["fields"])["label"].tolist()
var_data = pd.DataFrame(loaded_data["data"],columns = columns)
print(var_data)

         STATE_NAME Lg_Dist_Code  ...  Total Last_Updated
0    ANDHRA PRADESH          502  ...  11886   2022-01-11
1    ANDHRA PRADESH          503  ...  13680   2022-01-11
2    ANDHRA PRADESH          505  ...  17878   2022-01-11
3    ANDHRA PRADESH          506  ...  17802   2022-01-11
4    ANDHRA PRADESH          510  ...  22298   2022-01-11
..              ...          ...  ...    ...          ...
732          LADAKH            9  ...   1528   2022-01-11
733     LAKSHADWEEP          553  ...    150   2022-01-11
734      PUDUCHERRY          598  ...   1306   2022-01-11
735      PUDUCHERRY          599  ...    112   2022-01-11
736      PUDUCHERRY          600  ...   8161   2022-01-11

[737 rows x 8 columns]

first convert the data  then find out the total small  Manufacturing MSME in india

In [13]:

small_Data = var_data["SMALL"].astype(int).sum(axis = 0, skipna = True) #First we will convert the data from string to in then we will sum it
print(small_Data)

317222

Question 3

In [4]:
total_Data = data.groupby("STATE_NAME")["MICRO","SMALL","MEDIUM"].sum()
print(total_Data)
file_directory = ("201951164_Urmila.csv")
total_Data.to_csv(file_directory)

NameError: name 'data' is not defined

Question 4

In [3]:
data['Lg_Dist_Code']=data['Lg_Dist_Code'].apply(str)
data['Last_Updated']=data['Last_Updated'].apply(str)
var_data['Lg_Dist_Code']=var_data['Lg_Dist_Code'].apply(str)
var_data['Last_Updated']=var_data['Last_Updated'].apply(str)
join_Data = pd.merge(var_data,data,on=['STATE_NAME','DISTRICT_NAME','Lg_Dist_Code','Last_Updated'],how='inner')
print(join_Data)

NameError: name 'data' is not defined

Question 5

In [2]:
var_data['MICRO']=var_data['MICRO'].astype(int)
var_data['SMALL']=var_data['SMALL'].astype(int)
var_data['MEDIUM']=var_data['MEDIUM'].astype(int)
second_total_Data = var_data.groupby('STATE_NAME')['MICRO','SMALL','MEDIUM'].sum()
pivot_Data = pd.merge(total_Data,second_total_Data,on='STATE_NAME')
print(pivot_Data)

NameError: name 'var_data' is not defined