#                                    Lab Assignment-12
### Name - Urmila Rathore
### ID - 201951164
### Section - 2

#### Import statements

In [2]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
df_1=pd.read_csv(r"C:\Users\HP\Downloads\cookie_cats.csv")
df_1

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

In [9]:
result = stats.ttest_ind(df_1[df_1.version == 'gate_30'].sum_gamerounds,df_1[df_1.version == 'gate_40'].sum_gamerounds,equal_var=False)
print(f'The value of t : {result.statistic:.4f}')
print(f'The value for p for single sided test : {result.pvalue / 2:.4f}')

The value of t - 0.8854
The value for p for single sided test - 0.1880

### Observation & Conclusion
- As we can observe that p-value is very higher than than the alpha (i.e. 0.05), so We should not reject the null hypothesis